.note_wrapper {
  margin-top: 75px;
  padding: 35px;
  background: #fffafa;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

.note_p {
  font-size: 18px;
}
