.img {
  height: 48px;
  width: 48px;
}

.header {
  background: #222;
  padding: 5px;
}

.navbar {
  min-width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo_name {
  color: #eff6f9;
  text-decoration: none;
  font-size: 26px;
}

.navbar_link {
  color: #eff6f9;
  text-decoration: none;
}
