* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #659dbd;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.wrapper {
  min-height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.svg-wrapper {
  height: 48px;
  width: 48px;
}
