* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

a,
p,
h1 {
  color: #eff6f9;
  text-decoration: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.wrapper {
  min-height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_img {
  height: 48px;
  width: 48px;
}

.header {
  background: #222;
  /* height: 50px; */
  margin: 3px;
}

.header_navbar {
  min-width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo {
  cursor: pointer;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 10px;
}

.header_logo_name {
  font-size: 26px;
}

.svg-wrapper {
  height: 48px;
  width: 48px;
}
